@model Domain.Models.TblPhieuNhapKho

@{
    ViewData["Title"] = "Delete";
}
<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-controller="AdminPhieuNhapKho" asp-action="Index">Danh sách phiếu nhập</a>
            <span class="breadcrumb-item active">Thông tin phiếu: </span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="teble-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Mã người lập:</td>
                        <td class="text-dark font-weight-semibold">@Model.IdNhanVien</td>
                    </tr>
                    <tr>
                        <td>Tên người lập:</td>
                        <td class="text-dark font-weight-semibold">@Model.IdNhanVien</td>
                    </tr>
                    <tr>
                        <td>Mã phiếu nhập:</td>
                        <td>@Model.IdPhieuNhapKho</td>
                    </tr>
                    <tr>
                        <td>Ghi chú:</td>
                        <td>@Model.SGhiChu</td>
                    </tr>
                    <tr>
                        <td>Ngày lập</td>
                        <td>@Model.DNgaySua</td>
                    </tr>
                    <tr>
                        <td>Trạng thái đơn hàng</td>
                        @if (@Model.BTrangThai)
                        {
                            <td>Khoá</td>
                        }
                        else
                        {
                            <td>Mở</td>
                        }

                    </tr>

                    <tr>
                        <td>Xác nhận xóa:</td>
                        <td>
                            <form asp-controller="AdminPhieuNhapKho" asp-action="Delete" asp-route-id="@Model.IdPhieuNhapKho">
                                <input type="hidden" asp-for="IdPhieuNhapKho" />
                                <button type="submit" class="btn btn-danger btn-tone"><i class="far fa-trash-alt m-r-5 fa-lg"></i>Xác nhận xóa</button>
                                |
                                <a class="btn btn-success btn-tone m-r-5" asp-action="Index"><i class="fas fa-times m-r-5 fa-lg"></i>Hủy bỏ</a>
                            </form>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>