@model Domain.Models.TblPhieuNhapKho

@{
    ViewData["Title"] = "Edit";
    List<TblChiTietPhieuNhapKho> orderDetails = ViewBag.ChiTiet;
}

<div class="page-header">
    <h2 class="header-title">Sửa phiếu nhập</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a  asp-controller="AdminPhieuNhapKho" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item"  asp-controller="AdminDonHang" asp-action="Index">Danh sách phiếu nhập</a>

        </nav>
    </div>
</div>

<div class="row">
    <div class="modal-body">
        <form asp-action="Edit">
            <div class="card">
                <div class="card-body" style="background-color:#FAEAEA">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdPhieuNhapKho" />
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IdNhanVien" class="control-label">Mã nhân viên</label>
                                <select asp-for="IdNhanVien" class="form-control" asp-items="@((SelectList)ViewData["IdNhanVien"])"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IdNhaCungCap" class="control-label">Mã nhà cung cấp</label>
                                <select asp-for="IdNhaCungCap" class="form-control" asp-items="@((SelectList)ViewData["IdNhaCungCap"])"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DNgaySua" class="control-label">Ngày tạo</label>
                                <input asp-for="DNgaySua" class="form-control" />
                                <span asp-validation-for="DNgaySua" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="BTrangThai" class="control-label">Trạng thái đơn hàng</label>
                                <select asp-for="BTrangThai" class="form-control" asp-items="ViewBag.TrangThai"></select>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SGhiChu" class="control-label"></label>
                                <input asp-for="SGhiChu" class="form-control" />
                                <span asp-validation-for="SGhiChu" class="text-danger"></span>
                            </div>
                        </div>
                        <br />

                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Tổng tiền</th>
                                    <th>Ghi chú</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (orderDetails != null && orderDetails.Count() > 0)
                                {
                                    int i = 1;
                                    foreach (var item in orderDetails)
                                    {
                                        string url = "/";
                                        <tr>
                                            <th>@i</th>
                                            <td><a href="/AdminSanPham/Details/@item.IdSanPham">@item.IdSanPham</a></td>
                                            <td>@item.ISoLuongNhap</td>
                                            <td>@item.FDonGiaNhap.ToString("#,##0") VND</td>
                                            <td>@((item.ISoLuongNhap * item.FDonGiaNhap).ToString("#,##0")) VND</td>
                                            <td>@item.SGhiChu</td>
                                            <td>
                                                <a asp-action="SuaSanPham" asp-route-id="@item.IdChiTietPhieuNhapKho" class="btn btn-primary">
                                                    <i class="fas fa-edit"></i> Sửa
                                                </a>

                                                <a asp-action="XoaSanPham" asp-route-id="@item.IdChiTietPhieuNhapKho" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Xoá
                                                </a>
                                            </td>

                                        </tr>
                                        i++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <a asp-controller="AdminPhieuNhapKho" asp-action="ThemSanPham" asp-route-id="@Model.IdPhieuNhapKho" class="btn btn-primary"><i class="fas fa-plus"></i> Thêm sản phẩm nhập</a>
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-info "><i class="far fa-save m-r-5 fa-lg"></i>Cập nhật</button>
                    <button class="btn btn-warning"><i class="fas fa-undo m-r-5 fa-lg"></i>Quay lại</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div>
</div>


