@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<Domain.Models.TblPhieuNhapKho>

@{
    int index = 1;
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="AdminDonHang" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách phiếu nhập: Trang @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body" style="background-color:#FFF0F5">
        <h2 class="text-center">Danh sách phiếu nhập</h2>
        <div class="row m-b-30">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-success " asp-controller="AdminPhieuNhapKho" asp-action="Create"><i class="far fa-plus-square m-r-5 fa-lg"></i><span>Thêm mới phiếu nhập</span></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>

                        <th>STT</th>
                        <th>Mã nhà cung cấp</th>
                        <th>Nhà cung cấp</th>
                        <th>Người lập</th>
                        <th>Ngày lập</th>
                        <th>Ghi chú</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    -@index-
                                </td>
                                <td>
                                    @item.IdNhaCungCap

                                </td>
                                <td>
                                    @item.IdNhaCungCapNavigation.STenNhaCungCap

                                </td>
                                <td>
                                    @item.IdNhanVienNavigation.SHoTen

                                </td>
                                <td>
                                    @item.DNgaySua

                                </td>
                                <td>
                                    @item.SGhiChu

                                </td>
                                <td>
                                    @if (@item.BTrangThai)
                                    {
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <p>Khoá</p>
                                    }
                                    else
                                    {
                                        <div class="badge badge-warning badge-dot m-r-10"></div>
                                        <p>Mở</p>
                                    }

                                </td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-controller="AdminPhieuNhapKho" asp-action="Details" asp-route-id="@item.IdPhieuNhapKho"><i class="far fa-eye m-r-5 fa-lg"></i>Xem</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-controller="AdminPhieuNhapKho" asp-action="Edit" asp-route-id="@item.IdPhieuNhapKho"><i class="far fa-edit m-r-5 fa-lg"></i>Sửa</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-controller="AdminPhieuNhapKho" asp-action="Delete" asp-route-id="@item.IdPhieuNhapKho"><i class="far fa-trash-alt m-r-5 fa-lg"></i>Xóa</a>
                                </td>
                            </tr>
                            index += 1;
                        }
                    }


                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="page-container" list="@Model" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" asp-controller="AdminDonHang" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
