@model Domain.Models.TblChiTietPhieuNhapKho

@{
    ViewData["Title"] = "ThemSanPham";
}

<div class="page-header">
    <h2 class="header-title">Thêm sản phẩm nhập kho</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-controller="AdminPhieuNhapKho" asp-action="Index">Danh sách phiếu nhập</a>
            <a class="breadcrumb-item" asp-controller="AdminPhieuNhapKho" asp-action="Edit" asp-route-id="@ViewBag.Id">Thông tin phiếu nhập</a>

        </nav>
    </div>
</div>

<div class="row">
    <div class="modal-body" style="background-color:#FAEAEA">
        <div class="card">
            <div class="card-body" style="background-color:#FAEAEA">
                <form asp-action="ThemSanPham">
                    <div class="row">
                        <h5>Mã phiếu nhập kho: @ViewBag.Id</h5>
                        <input asp-for="IdPhieuNhapKho" value="@ViewBag.Id" class="form-control" hidden />

                    </div>
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IdSanPham" class="control-label">Tên sản phẩm *</label>
                                <select asp-for="IdSanPham" class="form-control" asp-items="@((SelectList)ViewData["IdSanPham"])"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SGhiChu" class="control-label">Ghi chú</label>
                                <input asp-for="SGhiChu" class="form-control" />
                                <span asp-validation-for="SGhiChu" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ISoLuongNhap" class="control-label">Số lượng nhập *</label>
                                <input asp-for="ISoLuongNhap" class="form-control" />
                                <span asp-validation-for="ISoLuongNhap" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FDonGiaNhap" class="control-label">Đơn giá nhập *</label>
                                <input asp-for="FDonGiaNhap" class="form-control" />
                                <span asp-validation-for="FDonGiaNhap" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <br />
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info  m-r-5"><i class="far fa-save m-r-5 fa-lg"></i>Lưu</button>
                            |
                            <a class="btn btn-warning   m-r-5" asp-action="Edit" asp-route-id="@ViewBag.Id"> <i class="fas fa-undo m-r-5 fa-lg"></i>Quay lại</a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
