@model Domain.Models.TblKhachHang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblKhachHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STenKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.STenKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SSdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SSdt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdKhachHang">Chỉnh sửa</a> |
    <a asp-action="Index">Trở về</a>
</div>
