@model List<TblDonHang>
@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr class="text-center">
                    <th>Mã đơn hàng</th>
                    <th>Ngày mua hàng </th>
                    <th>Họ và tên</th>
                    <th>Trạng thái</th>
                    <th>Tổng tiền</th>
                 
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a class="account-order-id" href="javascript:void(0)">@item.IdDonHang</a></td>
                        <td>@item.DNgayTao</td>
                        <td>@item.IdKhachHangNavigation.STenKhachHang</td>
                        <td>@item.IdTrangThaiNavigation.STrangThai</td>
                        <td>@item.FTongTien.Value.ToString("#,##0") VNĐ</td>
                      >
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Chưa có đơn hàng</p>
}

