@model Domain.Models.TblKhachHang

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TblDonHang> DanhSachDonHang = ViewBag.DonHang;
    PKX_DATN.ModelViews.DoiMatKhau changePassword = new PKX_DATN.ModelViews.DoiMatKhau();

}
<!-- Begin Main Content Area -->
<main class="main-content">
    <br />
    <div class="account-page-area section-space-y-axis-100 mt-1 mb-1">
        <div class="container">
            <div class="card">
                <div class="card-body" style="background-color:#FAEAEA">
                    <div class="row">
                        <div class="col-sm-3">
                            <ul class=" list-group nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                                <li class="  nav-item">
                                    <a class="list-group-item active" id="account-dashboard-tab" data-bs-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">Thông tin tài khoản</a>
                                </li>
                                <li class="  nav-item">
                                    <a class="list-group-item" id="account-orders-tab" data-bs-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">Danh sách đơn hàng</a>
                                </li>

                                <li class="  nav-item">
                                    <a class="list-group-item" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">Thay đổi mật khẩu</a>
                                </li>
                                <li class=" list-group-item nav-item">
                                    <a class=" text-center list-group-item" id="account-logout-tab" href="/dang-xuat.html" role="tab" aria-selected="false">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-9">
                            <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                                <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                                    <div class="myaccount-dashboard">

                                        <h4 class="small-title text-center">Thông tin cơ bản</h4>
                                        <button id="enableInputBtn" class="ml-2"><i class="fa fa-edit"></i>Chỉnh sửa</button>
                                        <hr />
                                        <p>
                                            <b>Tên tài khoản:</b> <input type="text" id="ten" required disabled value="@Model.STenKhachHang" />
                                        </p>
                                        <br />
                                        <p>
                                            <b>Email:</b> <input type="text" id="email" required disabled value="@Model.SEmail" />
                                        </p>
                                        <br />
                                        <p>
                                            <b>Số điện thoại:</b> <input type="text" id="sdt" required disabled value="@Model.SSdt" />
                                        </p>
                                        <br />
                                        <p>
                                            <b>Địa chỉ</b>: <input type="text" id="diachi" required disabled value="@Model.SDiaChi" />
                                        </p>
                                        <button id="saveInfo" disabled>Lưu</button>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                                    <div class="myaccount-orders">
                                        <h4 class="small-title text-center">Danh sách đơn hàng</h4>
                                        <hr />
                                        @await Html.PartialAsync("_DonhangPartialView", DanhSachDonHang)
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                                    <div class="myaccount-address">
                                        <p>The following addresses will be used on the checkout page by default.</p>
                                        <div class="row">
                                            <div class="col">
                                                <h4 class="small-title">BILLING ADDRESS</h4>
                                                <address>
                                                    @Model.SDiaChi
                                                </address>
                                            </div>
                                            <div class="col">
                                                <h4 class="small-title">SHIPPING ADDRESS</h4>
                                                <address>
                                                    @Model.SDiaChi
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                                    @await Html.PartialAsync("_ChangePasswordPartialView", changePassword)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
</main>
<!-- Main Content Area End Here -->

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".xemdonhang").click(function () {
                var madonhang = $(this).attr("data-madonhang")
                $.ajax({
                    url: '/DonHang/Details',
                    dataType: "json",
                    type: "POST",
                    data: { id: madonhang },
                    async: true,
                    success: function (results) {
                        $("#record_table").html("");
                        $("#record_table").html("results");
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
        $('#enableInputBtn').on('click', function () {
            $("#ten").removeAttr('disabled');
            $("#email").removeAttr('disabled');
            $("#sdt").removeAttr('disabled');
            $("#diachi").removeAttr('disabled');
            $("#saveInfo").removeAttr('disabled');
        });
        $("#saveInfo").on('click', function () {
            var ten = $('#ten').val().trim();
            var email = $('#email').val().trim();
            var sdt = $('#sdt').val().trim();
            var diachi = $('#diachi').val().trim();

            if (ten.length == 0 || email.length == 0 || sdt.length == 0 || diachi.length == 0) {
                alert("vui lòng nhập đủ dữ liệu");
                return;
            }

            var formData = new FormData();
            formData.append('ten', ten);
            formData.append('email', email);
            formData.append('sdt', sdt);
            formData.append('diachi', diachi);

            /*for (var pair of formData.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }*/
            $.ajax({
                url: '/Accounts/SaveInfo',
                type: 'post',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.code == 300) {
                        alert(data.msg);
                        window.location.href = '/Accounts/Dashboard';
                        return;
                    }
                    if (data.code == 200) {
                        alert(data.msg);
                        $("#saveInfo").attr("disabled", true);
                        return;
                    }
                    if (data.code == 500 || data.code == 501) {
                        alert(data.msg);
                        return;
                    }
                    alert("Lỗi không xác định");
                }
            });

        });
    </script>
}
